<% include ../partials/header %>

    <div class="container">

        <div class="row">

            <h1 style="text-align: center;">Unos nove vikendice</h1>
            <div style="width: 50%; margin: 25px auto;">
                <form action="/vikendice/registracija" method="POST">
                    <div class="form-group">
                        Ime vikendice:
                        <input class="form-control" type="text" name="ime" value="<%= prijedlog.ime_vikendice%>">
                    </div>
                    <div class="form-group">
                        Opis:
                        <input class="form-control" type="text" name="opis" value="<%= prijedlog.opis%>">
                    </div>
                    <div class="form-group">
                        Adresa:
                        <input class="form-control" type="text" name="adresa" value="<%= prijedlog.adresa%>">
                    </div>
                    <div class="form-group">
                        Grad ID:
                        <input class="form-control" type="number" name="id_grad" value="<%= prijedlog.id_grad%>">
                    </div>
                    <div class="form-group">
                        Slika:
                        <input class="form-control" type="text" name="slika" value="<%= prijedlog.slika%>">
                    </div>
                    <div class="form-group">
                        Cijena:
                        <input class="form-control" type="number" step="any" name="cijena" value="<%= prijedlog.cijena%>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Unesi!</button>
                    </div>
                </form>

                <a href="/vikendice">Povratak na vikendice</a>

            </div>
        </div>

    </div>

    <% include ../partials/footer %>